@page "/cookies"
@inject ICookie Cookie

<PageTitle>Cookies</PageTitle>

<Card>
    <Body>
        <InputText @bind-Value=@CookieName />
        <InputText @bind-Value=@CookieValue />
        <button type="button" @onclick=SetCookie>Set Cookie</button>
    </Body>
</Card>

<br />

<Card>
    <Body>
        <button type="button" @onclick=GetCookie>Get Cookie</button>
        <p>
            @CookieCurrentValue
        </p>
    </Body>
</Card>

@code {
    protected string CookieName { get; set; } = string.Empty;
    protected string CookieValue { get; set; } = string.Empty;

    protected string CookieCurrentValue { get; set; } = string.Empty;

    protected async Task SetCookie()
    {
        try
        {
            if (!string.IsNullOrEmpty(CookieName) && !string.IsNullOrEmpty(CookieValue))
            {
                await Cookie.SetValue(CookieName, CookieValue, 1);
                StateHasChanged();
            }
        }
        catch { }
    }

    protected async Task GetCookie()
    {
        try
        {
            if (!string.IsNullOrEmpty(CookieName))
            {
                CookieCurrentValue = await Cookie.GetValue(CookieName);
                StateHasChanged();
            }
        }
        catch { }
    }
}