@page "/"

<PageTitle>Home</PageTitle>

<Card>
    <Header>
        <h1>Hello, @AuthState.DisplayName</h1>
    </Header>
    <Body>
        <ul>
            @foreach (var claim in AuthState.CurrentUserIdentity.Claims)
            {
                <li>@claim.Type : @claim.Value</li>
            }
        </ul>
    </Body>
</Card>

<br />

<AuthorizeView Roles=@(Roles.BuildAutorization(Roles.User, Roles.Admin))>
    <h1>AUTHORIZED as USER or ADMIN</h1>
</AuthorizeView>

<AuthorizeView Roles=@(Roles.Abbonato)>
    <h1>AUTHORIZED as Abbonato</h1>
</AuthorizeView>

<AuthorizeView Roles=@(Roles.MarketReport)>
    <h1>AUTHORIZED as MarketReport</h1>
</AuthorizeView>

<AuthorizeView Roles=@(Roles.Private)>
    <h1>AUTHORIZED as Private</h1>
</AuthorizeView>