@page "/login"
@using BlazorServer.Infrastructure
@attribute [AllowAnonymous]

@inject NavigationManager NavigationManager
@inject AuthProvider AuthProvider
@inject ILocalStorageService LocalStorage

<h3>Login</h3>

<form>
    <label>ACCOUNT</label>
    <input name="account" @bind-value=Account />
    <label>PASSWORD</label>
    <input name="password" @bind-value=Password />
    <button type="button" @onclick=OnLoginAsync>LOGIN</button>
</form>

<p class="text-danger">@ErrorMessage</p>

@code {
    public string Account { get; set; } = "";
    public string Password { get; set; } = "";

    private string ErrorMessage = "";

    protected async Task OnLoginAsync()
    {
        ErrorMessage = "";

        try
        {
            var (logged, token) = await AuthProvider.LoginAsync(Account, Password);

            if (logged)
            {
                await LocalStorage.SetItemAsStringAsync("token", token);
                AuthProvider.Refresh();
                NavigationManager.NavigateTo("/");
            }
            else
            {
                ErrorMessage = "Login failed";
            }

        }
        catch (Exception e)
        {
            ErrorMessage = e.Message;
        }
    }
}
