@page "/news/detail"
@page "/news/detail/{Id}"

@inject NewsService newsService
@inject NavigationManager NavigationManager

<PageTitle>News</PageTitle>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <NewsCard News="@news" />
}

@code {
    [Parameter]
    public string? Id { get; set; }

    private bool IsLoading = true;

    private News? news;

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(Id))
        {
            news = await newsService.GetDataByIdAsync(Id);
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }

        IsLoading = false;
    }
}
